/*** main styling ***/

body {

}

/*** top bar ***/ 

#top-bar {
	margin: 0 auto;
	width: 1080px;
	margin: 0 auto;
}

#upload-icon {
	position: relative;
    top: 20px;
    width: 27px;
}

#upload-icon:hover {
	cursor: pointer;
}

/*** Upload Buttons ***/

#upload-form {
	margin-top: 100px;
	margin-left: 20px;
}

/*** File Directory / Listing ***/

#directory-wrapper {
	margin: 0 auto;
	text-align: center;
	width: 1080px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 30px;
	
}

ul.attributes-row {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
    border-bottom: 1px solid #E6E8EB;
}

.attributes-row li {
	display: inline-block;
	text-align: left;
	height: 30px;
	line-height: 30px;

	font-size: 0.9em;
}

ul.attributes-row .name {
	width: 465px;
	padding-left: 8px;
}

ul.attributes-row .date {
	width: 270px;
	padding-left: 63px;
}

ul.attributes-row .size {
	width: 201px;
	padding-left: 35px;
}


ul.file-row {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #E6E8EB;
    border-bottom: 1px solid #E6E8EB;
}

ul.file-row:hover {
	background-color: #F4FAFF;
	border-top: 1px solid #CCE6FA;
    border-bottom: 1px solid #CCE6FA;
}

ul.file-row a {
	color: #000;
	text-decoration: none;
}

ul.file-row a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.file-row li {
	display: inline-block;
	text-align: left;
	height: 40px;
	line-height: 44px;
    overflow:hidden;
    font-size: 0.9em;
}

ul.file-row .type {
	width: 40px;
}

ul.file-row .type img {
	position: relative;
    top: 7px;
    padding-left: 10px;
    width: 20px;
}

#empty {
	position: relative;
    top: 10px;
    margin-left: 10px;
    left: -445px;
}

ul.file-row .name {
	width: 390px;
}

ul.file-row .btn-section-1 {
	width: 100px;
}

ul.file-row .btn-section-1 img {
	position: relative;
    top: 4px;
    width: 20px;
    padding: 0px 5px 0px 5px;
    /* visibility:hidden */
}

ul.file-row .date {
	width: 300px;
}

ul.file-row .size {
	width: 150px;
}

ul.file-row .btn-section-2 {
	width: 50px;
}

ul.file-row .btn-section-2 img {
	position: relative;
    top: 4px;
    width: 20px;
}

/*** Custom Menu ***/
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 1px;
    padding: 0;
    text-align: left;

}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

#cm-icon {
	padding: 0px 5px 0px 0px;
	position: relative;
    top: 3px;
    width: 13px;
}

